<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/recipes" method="POST">
      <label for="title">Name</label>
      <input type="text" name="name">
      <label for="title">Ingredients</label>
      <input type="text" name="ingredients">
      <label for="title">Cook Time</label>
      <input type="text" name="cook_time">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
